<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <div class="container">
    <%- include("../partials/ingresar.ejs") %>
    </div>
    <hr>
    <%- include("../partials/links.ejs") %>
</body>
</html>