<div class="container">
    <div id="mensajes">
        Aqui se ven los mensajes
    </div>
    <div id="insertarmensaje">
        <input type="text" name="email" placeholder="email" id="email">
        <input type="text" name="mensaje" placeholder="mensaje" id="mensaje">
        <button name="botonEnviar" id="botonEnviar" onclick="enviarMensaje()"> Enviar </button>
    </div>
</div>