<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><h3>Nombre</h3></th>
                    <th><h3>Precio</h3></th>
                    <th><h3>Imagen</h3></th>
                    <th><h3>Accion</h3></th>
                </tr>
            </thead>
            <tbody>
                {{#each listaProductos}}
                <tr>
                    <td style="width:  30%"><h5>{{title}}</h5></td>
                    <td style="width:  30%">${{price}}</td>
                    <td tyle="width:  20%"><img src={{thumbnail}} class="img-fluid" width="30%"></td>
                    <td style="width:  20%"><a href="/comprar/{{this.id}}" class="btn btn-primary">Comprar</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
