
<h1 class="display-1" >Bienvenido a la Tienda</h1>
<br>
<div id="ingresar">
{{> ingresar}}
</div>
<hr>
<div id="chat">
<center><h6 class="display-6" >Usuarios:</h6></center>
{{> chat}}
</div>
<hr>
<center><h6 class="display-6" >Lista de productos</h6></center>
<p></p>
<div id="tablaproductos">
<hr>
{{> listar}}
</div>
