extends layout.pug
block content

    h1(class="display-1" text-align="center") Mangas disponibles
    div(class="row")
        each producto in productos
            div(class="col-sm-3")
                div(class="card text-center")
                    img(src=producto.thumbnail class="card-img-top")
                    h5(class="card-title")= producto.title
                    h6(class="card-subtitle mb-2 text-muted")= producto.author
                    h6(class="card-text")= producto.price
                    a(href="/comprar/" class="btn btn-outline-primary m-1") comprar
        else 
            li  No hay productos disponibles