<center><h1 class="display-1" >Ingresa un producto</h1></center>
<form action="/productos" method="POST">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" name="title" id="nombre" class="form-control form-control-lg" >
        <label for="autor" class="form-label">Autor</label>
        <input type="text" name="author" id="autor" class="form-control form-control-lg" >
        <label for="cantidad" class="form-label">Cantidad</label>
        <input type="text" name="quantity" id="cantidad" class="form-control form-control-lg">
        <label for="precio" class="form-label">Precio</label>
        <input type="text" name="price" id="precio" class="form-control form-control-lg">
        <label for="url" class="form-label">URL de imagen</label>
        <input type="text" name="thumbnail" id="url" class="form-control form-control-lg">
        <button type="submit" class="btn btn-outline-success mt-3">Enviar</button>
</form>
