<ul class="nav justify-content-center">
    <li class="nav-item"><a href="/"   class="btn btn-outline-dark m-1" >Ingresar productos</a></li>
    <li class="nav-item"><a href="/productos"  class="btn btn-outline-dark m-1">Listar Productos</a></li>
</ul>